@page "/alternative-libraries"

<h3>Alternative Libraries</h3>

This page contains demos for the example explained in <a href="https://github.com/phorks/phork-blazor-reactivity/blob/main/docs/COMPARISON.md">this document</a> demonstrating the differences between <a href="https://github.com/klemmchr/MvvmBlazor">MvvmBlazor</a> v2.0.0 and <a href="https://github.com/phorks/phork-blazor-reactivity">Phork.Blazor.Reactivity</a> v1.1.3.

<ul class="list-group mt-2">
    <li class="list-group-item">
        <a href="./comparison/phork-blazor-reactivity">Phork.Blazor.Reactivity</a>
    </li>
    <li class="list-group-item">
        <a href="./comparison/mvvmblazor">MvvmBlazor</a>
    </li>
</ul>