@page "/"

<h1>Phork.Blazor.Reactivity Demo</h1>

This demo application showcases the features of <a href="https://github.com/phorks/phork-blazor/docs/reactivity/README.md">Phork.Blazor.Reactivity</a>. The source code of this project is available <a href="https://github.com/phorks/phork-blazor/samples/ReactivityDemo">here</a>.