@page "/comparison/mvvmblazor"
@using ReactivityDemo.Components.Comparison.MvvmBlazorDemo
@using ReactivityDemo.Models.Comparison.MvvmBlazorModels

<h3>MvvmBlazor</h3>

<ParentComponent Person="person" />

@code {
    Person person = new Person();
}
