@page "/comparison/phork-blazor-reactivity"
@using ReactivityDemo.Components.Comparison.PhorkDemo
@using ReactivityDemo.Models.Comparison.PhorkModels

<h3>PhorkDemo</h3>

<ParentComponent Person="person" />

@code {
    Person person = new Person();
}
