@page "/reactivity-in-action"

<h3>Phork.Blazor.Reactivity in Action</h3>

This page contains demos for the examples explained in <a href="https://github.com/phorks/phork-blazor/docs/reactivity/REACTIVITY-IN-ACTION.md">this document</a>.

<ul class="list-group mt-2">
    <li class="list-group-item">
        <a href="/business-card-generation">Business Card Generation</a>
    </li>
    <li class="list-group-item">
        <a href="/observed-bindings">Observed Bindings</a>
    </li>
    <li class="list-group-item">
        <a href="/observed-bindings-with-converter">Observed Bindings with Converter</a>
    </li>
</ul>