@inherits ReactiveComponentBase
@using ReactivityDemo.Models.InAction

<h3>Business Card Generator</h3>

<PersonEditor Person="Person" />

<div class="card" style="padding:5px">
    <h5 class="card-title text-secondary">Generated Business Card</h5>
    <div class="card-text">
        @Observed(() => Person.Name) <br />
        Skills:
        @foreach (var skill in Observed(() => Person.Skills))
        {
            if (Observed(() => skill.IsEnabled))
            {
                <mark><i>@(skill.Title)</i></mark>@(skill == Person.Skills.Last(x => x.IsEnabled) ? "" : ", ")
            }
        }
    </div>
</div>

@code {
    [Parameter] public Person Person { get; set; }
}
