@page "/"

<h1>Phork.Blazor.Reactivity Demo</h1>

This demo application showcases the features of <a href="https://github.com/phorks/phork-blazor">Phork.Blazor.Reactivity</a>. The source code of this application is available <a href="https://github.com/phorks/phork-blazor/tree/main/samples/ReactivityDemo">here</a>.