@inherits ReactiveComponentBase
@using ReactivityDemo.Models.InAction

<h5>--MakeAdmin Component--</h5>

<input type="checkbox" @bind="Binding(() => Person.Name, GetIsAdmin, GetName).Value" />

@code {
    private string storedName = string.Empty;

    [Parameter]
    public Person Person { get; set; }

    private bool GetIsAdmin(string name)
        => name == "admin";

    private string GetName(bool isAdmin)
    {
        if (isAdmin)
        {
            this.storedName = this.Person.Name;
            return "admin";
        }
        return this.storedName;
    }
}
