@inherits ReactiveComponentBase
@using ReactivityDemo.Models.InAction


<h5>--PersonNameEditor component--</h5>

<div>
    <label>Name <input class="form-control" type="text" @bind="Binding(() => Person.Name).Value" @bind:event="oninput" /></label>
</div>

@code {
    [Parameter] public Person Person { get; set; }
}